@font-face {
	font-family:"nanum";
	src:url("../fonts/NanumGothic.eot");
	src:url("../fonts/NanumGothic.eot?#iefix") format("embedded-opentype"),
	    url("../fonts/NanumGothic.woff") format("woff"),
	    url(../fonts/NanumGothic.ttf) format('truetype');
}
@font-face {
	font-family:"nanumB";
	src:url("../fonts/NanumGothicBold.eot");
	src:url("../fonts/NanumGothicBold.eot?#iefix") format("embedded-opentype"),
	    url("../fonts/NanumGothicBold.woff") format("woff"),
	    url(../fonts/NanumGothicBold.ttf) format('truetype');
}
@font-face {
	font-family:"nanumEB";
	src:url("../fonts/NanumGothicExtraBold.eot");
	src:url("../fonts/NanumGothicExtraBold.eot?#iefix") format("embedded-opentype"),
	    url("../fonts/NanumGothicExtraBold.woff") format("woff"),
	    url(../fonts/NanumGothicExtraBold.ttf) format('truetype');
}