@charset "utf-8";

#wrap{width: 100%; min-width: 1920px; position: absolute; height: 100%; background:url(../images/main/main-bg.jpg) 0 0 no-repeat; overflow:hidden;}

.inner-wrap{width: 100%; height: 100%; background:url(../images/main/portfolio.png) 50% 50% no-repeat; position: absolute;}
.inner-wrap .text {position: absolute; left: 903px; top: 189px; }
.inner-wrap .text img {}
.inner-wrap .text h2 {font-size: 40px; color:#1c1c1c; margin:28px 0; font-weight: 600;}
.inner-wrap .text em {font-size: 18px; display:block; color:#000;}
.inner-wrap .text p {font-size: 18px; color:#000; margin-top: 40px;}
.inner-wrap .text h3 {font-size: 18px; font-weight: 600; color:#1c1c1c; margin-top:38px;}

.inner-wrap .paint {position: absolute; left: 0; top: 0;}
.inner-wrap .paint.orange {left: 230px; top: 150px;}
.inner-wrap .paint.green {left: 346px; top: 578px;}  
.inner-wrap .paint.blue {left: 1334px; top: 43px;}
.inner-wrap .paint.brown {left: 1500px; top: 550px;}
.inner-wrap .paint.purple {left: -148px; top: 495px;}